mj-section
    mj-column
        mj-text() *Offres spéciales partenaires valables chez les distributeurs officiels ALSO, EXERTIS, INGRAM, TECH DATA jusqu'au 24/09/2021 dans la limite des stocks facturables. Non cumulables avec d'autres offres spéciales.
mj-section
    mj-column
        mj-text() Appelez notre équipe d'experts pour un conseil personnalisé sur votre déploiement WiFi 
    mj-column
        mj-image(src="./images/cartouche.png")/
    mj-column
        mj-text() 
            img(src="./images/phone.png")/ 01 39 23 99 59
        mj-text()
            img(src="./images/email.png")/ reponserapide@netgear.com
        mj-text()
            img(src="./images/web.jpg")/ netgear-responsable.fr
    mj-column
        mj-text() NETGEAR - 2 rue de Marly le roi, 78150 LE CHESNAY
        mj-social()
            mj-social-element(name="facebook" href="https://www.facebook.com/NetgearFrance")
            mj-social-element(name="twitter" href="https://twitter.com/NetgearFrance")
            mj-social-element(name="linkedin" href="https://www.linkedin.com/company/netgear-france/")
            mj-social-element(name="youtube" href="https://www.youtube.com/user/NETGEARFrance")