mj-section(padding="14px 14px 30px 14px" mj-class="bgW")
    mj-column
        mj-text(align="center" padding="0" mj-class="T12-400 cT1") *Offres spéciales partenaires valables chez les distributeurs officiels ALSO, EXERTIS, INGRAM, TECH DATA jusqu'au 24/09/2021 dans la limite des stocks facturables. Non cumulables avec d'autres offres spéciales.
mj-section(padding="10px" mj-class="bgW")
    mj-column(width="100%")
        mj-text(align="center" padding="0" padding-bottom="43px" mj-class="T24-500 cB") Appelez notre équipe d'experts pour un conseil personnalisé sur votre déploiement WiFi 
    mj-column(width="50%" vertical-align="top")
        mj-image(padding="0" width="200px" src="./images/cartouche.png" alt="")/
    mj-column(width="50%" vertical-align="top")
        mj-text(padding="0" align="center" mj-class="T16-400 cT1") 
            img(padding="0" vertical-align="center" width="11px" src="./images/phone.png")/ #[strong(style="vertical-align:center;padding:0 10px;") 01 39 23 99 59]
        mj-text(padding="0" align="center" mj-class="T16-400 cT1")
            img(padding="0" vertical-align="center" width="20px" src="./images/email.png")/ #[strong(style="vertical-align:center;padding:0 10px;") reponserapide@netgear.com]
        mj-text(padding="0" align="center" padding-bottom="28px" mj-class="T16-400 cT1")
            img(padding="0" vertical-align="center" width="20px" src="./images/web.jpg")/ #[strong(style="vertical-align:center;padding:0 10px;") netgear-responsable.fr]
    mj-column(width="100%")
        mj-text(padding="0" align="center" padding-bottom="28px" mj-class="T14-400 cT1") NETGEAR - 2 rue de Marly le roi, 78150 LE CHESNAY
        mj-social()
            mj-social-element(name="facebook" href="https://www.facebook.com/NetgearFrance")
            mj-social-element(name="twitter" href="https://twitter.com/NetgearFrance")
            mj-social-element(name="linkedin" href="https://www.linkedin.com/company/netgear-france/")
            mj-social-element(name="youtube" href="https://www.youtube.com/user/NETGEARFrance")