//- bloc header
mj-section(padding="0" mj-class="bgW")
    mj-column
        mj-image(padding="0" width="700px" src="./images/borne30.jpg" alt="")/
        mj-text() Retrouvez dans ce mail une sélection d'offres spéciales incontournables sur nos points d'accès professionnels WiFi 5.
        mj-text() #[strong Les points d'accès WAC540 et WAC510 sont des bornes 802.11ac PoE conçues pour les besoins des entreprises. Simples à mettre en place,] elles disposentd'une #[strong interface Web manageable] et sont intégrables à notre solution de gestion dans le #[strong Cloud 'Insight'].
        mj-text() Ces bornes sont en stock chez nos grossistes et les offres sont valables dans la limite des stocks disponibles, profitez dès maintenant de ces offres chez nos distributeurs Also, Ingram, Tech Data.