//- Product 01
mj-section(padding="0" mj-class="bgW")
    mj-column
        mj-image(padding="0" width="350px" src="./images/promo25.png" alt="")
    mj-column(padding="20px 30px 10px 20px")
        mj-text(align="left" padding="0" padding-bottom="15px" mj-class="T24-500 cB" letter-spacing="0.5px") WAC540
        mj-table(mj-class="T14-400 cT1" padding="0" width="100%" cellpadding="0" cellspacing="0")
            tr
                td(style="padding-bottom:5px") &#x2022;
                td(style="padding-bottom:5px;padding-left:20px") #[strong WiFi 5 AC3000] 3 Gbit/s(400/867/1733 Mbps)
            tr
                td(style="padding-bottom:5px") &#x2022;
                td(style="padding-bottom:5px;padding-left:20px") #[strong Tri band] 4x4(2.4/5/5 GHz)
            tr
                td(style="padding-bottom:5px") &#x2022;
                td(style="padding-bottom:5px;padding-left:20px") 2 ports Ethernet #[strong 1 Gbit/s]
            tr
                td(style="padding-bottom:5px") &#x2022;
                td(style="padding-bottom:5px;padding-left:20px") Alimentable en #[strong PoE+]
            tr
                td(style="padding-bottom:5px;") &#x2022;
                td(style="padding-bottom:5px;padding-left:20px") #[strong Management] web local ou à distance via #[strong Insight] (licence 1 an offerte)
            tr
                td(style="padding-bottom:5px") &#x2022;
                td(style="padding-bottom:5px;padding-left:20px") Garantie #[strong 5 ans]
        mj-text(align="center" padding="0" padding-top="10px" mj-class="T14-400 cB") #[strong A l'unité(-25%) :] WAC540-1000S
        mj-text(align="center" padding="0" padding-bottom="5px" mj-class="T14-400 cB") #[strong En pack de 3 (-25%) :] WAC540B03-10000S
        mj-button(padding="10px 0" inner-padding="12px 20px" mj-class="T12-400 bgB" text-transform="uppercase") #[strong En savoir plus]