//- Produit 01
mj-section
    mj-column
        mj-image(padding="0" width="350px" src="./images/promo25.png" alt="")
    mj-column
        mj-text() WAC540
        mj-text() WiFi 5 AC3000 3 Gbit/s(400/867/1733 Mbps)
        mj-text() Tri band 4x4(2.4/5/5 GHz)
        mj-text() 2 ports Ethernet 1 Gbit/s
        mj-text() Alimentable en PoE+
        mj-text() Management web local ou à distance via Insight (licence 1 an offerte)
        mj-text() Garantie 5 ans 
        mj-text() Al'unité(-25%) : WAC540-1000S
        mj-text() En pack de 3 (-25%) : WAC540B03-10000S
        mj-button() En savoir plus