//- Product 01
mj-section(mj-class="bgW")
    mj-column
        mj-image(padding="0" width="350px" src="./images/promo25.png" alt="")
    mj-column(padding="20px 30px 10px 20px")
        mj-text(align="left") WAC540
        mj-text(align="left" padding="0" padding-bottom="5px") &#x2022; #[strong WiFi 5 AC3000] 3 Gbit/s(400/867/1733 Mbps)
        mj-text(align="left" padding="0" padding-bottom="5px") &#x2022; #[strong Tri band] 4x4(2.4/5/5 GHz)
        mj-text(align="left" padding="0" padding-bottom="5px") &#x2022; 2 ports Ethernet #[strong 1 Gbit/s]
        mj-text(align="left" padding="0" padding-bottom="5px") &#x2022; Alimentable en #[strong PoE+]
        mj-text(align="left" padding="0" padding-bottom="5px") &#x2022; #[strong Management] web local ou à distance via #[strong Insight] (licence 1 an offerte)
        mj-text(align="left" padding="0" padding-bottom="5px") &#x2022; Garantie #[strong 5 ans]
        mj-text(align="center") Al'unité(-25%) : WAC540-1000S
        mj-text(align="center") En pack de 3 (-25%) : WAC540B03-10000S
        mj-button() En savoir plus