//-product 3
mj-section(background-color="#ffffff" padding="15px 0")
    mj-column
        mj-button(padding="10px 0" inner-padding="12px 20px" mj-class="T12-400 bgB" text-transform="uppercase") #[strong Retrouvez tous nos offres spéciales]
mj-section(direction="rtl" padding="0" background-color="#f6f6f6")
    mj-column
        mj-image(padding="0" width="350px" src="./images/netgearInsight.jpg" alt="")/
    mj-column(padding="20px 30px 10px 20px")
        mj-text(align="left" padding="0" padding-bottom="15px" mj-class="T24-500 cB" letter-spacing="0.5px") Profitez d'un abonnement d'un an à Netgear Insight
        mj-text(align="left" padding="0" mj-class="T14-400 cT1") Insight est une #[strong plateforme Cloud] permettant de #[strong gérer les réseaux de vos clients]. Surveillez et managez les services et les périphériques sur des sites distants.
        mj-text(align="left" padding="0" mj-class="T14-400 cT1") Les points d'accès WiFi 5 WAC540 et WAC510 incluent tous les deux #[strong une licence offerte].
        mj-button(padding="0" padding-top="20px" inner-padding="12px 20px" mj-class="T12-400 bgB" text-transform="uppercase") #[strong En savoir plus sur Insight]
