//-product 3
mj-section
    mj-column
        mj-button() Retrouvez tous nos offres spéciales 
mj-section
    mj-column
        mj-text() Profitez d'un abonnement d'un an à Netgear Insight
        mj-text() Insight est une plateforme Cloud permettant de gérer les réseaux de vos clients. Surveillez et managez les services et les périphériques sur des sites distants.
        mj-text() Les points d'accès WiFi 5 WAC540 et WAC510 incluent tous les deux une licence offerte.
        mj-button() En savoir plus sur Insight
    mj-column
        mj-image(padding="0" width="350px" src="./images/netgearInsight.jpg" alt="")/