extends templates/_layout
block content 
    mj-section(padding="24px 30px" mj-class="bgT1")
            mj-column(vertical-align="middle")
                mj-image(align="left" padding="0" width="130px" src="./images/logoNetgearBW.png" alt="logo Netgear")/         